.Magic__symbols {
  counter-reset: magic-symbol;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.Magic__symbol {
  border: 1px solid #B7481F;
  padding: 12px;
  width: 13%;
}

.Magic__symbol__img {
  width: 40px;
  height: 40px;
}

.Magic__symbol::before {
  counter-increment: magic-symbol;
  content: counter(magic-symbol) ' ';
  font-size: 20px;
  font-weight: 700;
}
