.App {
  color: #fff;
  padding: 16px;
  text-align: center;
}

.App__header {
  margin-bottom: 100px;
}

.App__header-title {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.App__header-tag {
  margin-top: 0;
  margin-bottom: 50px;
}

.App__footer {
  margin-top: 100px;
}

.App__footer-link {
  color: #f1f1f1;
}

@media (min-width: 768px) {
  .App__header-title {
    font-size: 50px;
  }
}
