*:focus{
  outline: 0;
}

body {
  background-image: url(./assets/img/orb.png);
  background-size: cover;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 14px;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #8A673F, #B7481F);
  opacity: .6;
  z-index: -1;
}

button {
  background-color: #B7481F;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  color: #fafafa;
  padding: 16px;
}

.slide-in {
  animation: slide-in 1s;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
  }
}
